@use 'vars' as *;

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    margin: 0px;
    height: 100%;
    min-height: 100vh;
}

a,
img {
    border: none;
    outline: none;
    text-decoration: none;
}
a:hover {
    @include media('large') {
        text-decoration: underline;
    }
}

.container {
    // @include outer-container;
    height: 100%;
    margin: auto;
    position: relative;
    background: inherit;
    width: 98%;
    max-width: 93.75rem;
}

.offleft {
    position: absolute;
    left: $hide-absolute-position;
}
